{% block styles %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container">
        <large>{{pitch.pitch_title}}</large>
        <hr>
        <p>{{pitch.pitch_content}}</p>
    </div>
    <div>
        <p>Comments</p>
        <hr>
        {% if current_user.is_authenticated %}
            {{ wtf.quick_form(comment_form) }}
        {%endif%}

    </div>
    <div class="col-md-3"></div>
<div class="col-md-6">
    <p>Comments</p>
    <br>
    {% if current_user.is_authenticated %}
        {{ wtf.quick_form(comment_form) }}
    {%endif%}
</div>
<div class="col-md-3"></div>
{% endblock %}