{% extends 'base.html' %}

{% block content %}
{% block style %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}
<div class="page-header" style="text-align:center; font-family: 'Abril Fatface', cursive">
    <h1>Fine Blog</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="Jumbotron">
                {% for message in get_flashed_messages() %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
                {% if current_user.is_authenticated %}
                <a href="{{url_for('main.newblog')}}" class="btn btn-info btn-sm mb-3">Add Post</a>
                {% endif %}
                {% for blog in blogs %}
                <div class="card" style="margin-bottom: 20px">
                    <div class="card-header">
                        {{blog.title}}
                    </div>
                    <div class="card-body">
                        <p>{{blog.blog}}</p>
                        <h5>By: {{blog.user.username}}</h5>
                        <a class="btn btn-success btn-sm"
                            href="{{url_for('main.newcomment', blog_id = blog.id)}}">Comment</a>
                        {% if current_user.is_authenticated %}
                        <a class="btn btn-info btn-sm" href="{{url_for('main.edit_blog',blog_id = blog.id)}}">Edit</a>
                        <a class="btn btn-danger btn-sm"
                            href="{{url_for('main.deleteblog',blog_id = blog.id)}}">Delete</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-lg">
                <div class="page-header" style="text-align: center">Randomn Quotes</div>
                <div class="card" style="text-align:center; background-color:orange">
                    <div class="row">
                        <div class="col-md-12">
                            <p>{{quote.quote}}</p>
                            <p>{{quote.author}}</p>
                            <a href="{{quote.permalink}}">Read</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}